

.register__auth__container {
    height: auto;
    width: 100%;
}

.register__auth {
    height: 100%;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-progress .progress-bar {
    background-color: #fde47f !important; /* your yellow color */
    color: black !important; /* label text color */
    font-weight: 600;
  }
  .next-btn {
    background-color: #fde47f !important;
    color: #000 !important;
    border: none !important;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  .next-btn:hover {
    background-color: #fcd84f !important; /* slightly darker on hover */
    color: #000 !important;
    transform: scale(1.03);
  }
  